## Read only constants
relay_master_cert=
# Used for inter-service communication
system_interface=lo 127.0.0.1
domain_name=
# Can be changed with the `arrowhead cert -m` command
cert_password=

## Edit these variables before running `arrowhead cert ...`
# or after manually changing certificates to correspond with them.
# These variables are used when installing new core systems
cloudname=testcloud
operator=user
san_interfaces=lo 127.0.0.1, enp0s25 10.10.10.10
san_ips=127.0.0.1 10.10.10.10
san_dns=arrowhead.eu thingwave.eu
systems=sysop certificate_authority service_registry qos_monitor event_handler
relaymasters=relay1
